!!! XML
!!!
%html
  %head
    %title Justin's CSS Playground
  %body
    .left-side
      .upper-left
        Upper Left
      .upper-right
        Upper Right
      .lower-left
        Lower Left
      .lower-right
        Lower Right
    .right-side
      Here's some other text